@import "../variables";

body, html, * {
  font-family: $font;
  transition: padding .4s ease-in;
}

body {
  padding-top: 64px;
  overflow-x: hidden;
  @include mq-max($sm) {
    padding-bottom: 50px;
  }
}

p {
  margin: 0;
}

a {
  display: inline-block;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul {
  margin: 0;
}

.hidden {
  position: absolute;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
}

.line {
  position: relative;
  height: 2px;
  background-color: $orange;
}

.show {
  display: block !important;
}
