@import "../variables";

.header {
    position: relative;
    box-shadow: 0 0 12px 3px rgba($black, .16);
    z-index: 10000;
    @media(max-width: $lg) {
        .header__middle,
        .header__top {
            display: none;
        }
    }

    &--sticky {
        position: fixed;
        top: 0;
        width: 100%;
        background-color: $white;

        .header__middle,
        .header__top {
            display: none;
        }

        .header__menuitem--call {
            display: block;
        }
    }

    &__hamburger {
        display: inline-block;
        padding: 0 10px;
        margin-right: 15px;
        @media(min-width: $lg) {
            display: none;
        }

        &:before() {
            @include fa-icon();
            content: "\f0c9";
            font-size: 24px;
            vertical-align: sub;
        }
    }

    &__top {
        height: 40px;
        line-height: 40px;
        background-color: $grey;
        border-bottom: solid 1px #dedede;
    }

    &__social {
        text-align: right;
    }

    &__social-listitem {
        list-style-type: none;
        display: inline-block;
    }

    &__social-link {
        font-size: 14px;
        vertical-align: middle;

        &:last-of-type {
            margin-left: 15px;
        }

        &:before {
            @include fa-icon();
            font-size: 18px;
            margin-right: 10px;
            vertical-align: middle;
        }

        &--facebook {
            &:before {
                content: "\f230";
            }
        }

        &--bel {
            &:before {
                content: "\f095";
            }
        }
    }

    &__middle {
        padding: 10px 15px;
        display: flex;
    }

    &__logo-wrapper {
        display: flex;
        flex: 1 1 auto;
    }

    &__logo {
        height: 100px;
    }

    &__logo-small-wrapper {
        @media(min-width: $lg) {
            display: none;
        }
    }

    &__logo-small {
        height: 25px;
    }

    &__cta-wrapper {
        display: flex;
        flex: 1 1 100%;
        justify-content: flex-end;
        align-items: center;
    }

    &__cta {
        padding: 15px 50px;
        border-top: solid 1px $orange;
        border-bottom: solid 1px $orange;
        font-size: 16px;
        color: $text-color;
        text-transform: uppercase;
        transition: background 0.2s ease-in;
        font-weight: 700;

        &:hover {
            background: $orange;
            color: $white;
        }
    }

    &__bottom {
        border-top: solid 3px $orange;
        @media(max-width: $lg) {
            height: 53px;
            line-height: 50px;
            background-color: $white;
            border-top: none;
        }
    }

    &__menu {
        display: flex;
        margin-bottom: 0;
        @media(max-width: $lg) {
            display: none;
        }

        &--open {
            position: fixed;
            display: block;
            padding-top: 25%;
            background-color: $white;
            top: 50px;
            bottom: 0;
            left: 0;
            right: 0;
            @media(max-width: $lg) {
                body {
                    overflow: hidden;
                }
            }

            .header__menulink {
                text-transform: uppercase;
                font-weight: 700;
                font-size: 18px;
            }

            .header__menuitem--call {
                display: none;
            }
        }
    }

    &__menuitem {
        flex: 0 1 100%;
        text-align: center;
        height: 70px;
        line-height: 70px;

        &--call {
            display: none;
            flex: 0 1 40%;
            width: 0;
        }
    }

    &__menulink {
        display: inline-block;
        width: 100%;
        height: 100%;
        color: $text-color;
        background-image: -webkit-linear-gradient(transparent 50%, $orange 50%, $orange 95%, darken($orange, 10) 95%);
        background-size: 100% 200%;
        background-position: top center;
        transition: all 0.15s ease-in;

        &--haschild {
            &:after {
                @include fa-icon();
                content: "\f107";
                font-size: 14px;
                margin-left: 10px;
            }
        }

        &:hover {
            background-position: bottom center;
            color: $white;
        }
    }

    &__callme {
        &:before {
            @include fa-icon();
            content: "\f095";
            font-size: 20px;
        }
    }
}

.newheader {
    width: 100%;
    height: 64px;
    display: flex;
    align-items: center;
    align-self: flex-start;
    background-color: $white;
    border-bottom: 2px solid $orange;
    padding: 0 8px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);

    &__button {
        background: none;
        border: none;
        padding: 8px;
        width: 40px;
        height: 40px;
        outline: none;
        border-radius: 1000px;
        cursor: pointer;
        margin-right: 24px;
        z-index: 1000;
        @include mq-min($lg) {
            display: none;
        }
    }

    &__menu {
        font-size: 20px;
    }

    &__logo {
        color: $text-color;
        font-weight: 700;
        font-size: 20px;
    }

    &__assoo {
      height: 30px;

      @include mq-max($sm) {
        height: 25px;
      }
    }

    &__list {
        display: flex;
        @include mq-max($lg) {
            position: fixed;
            width: 100%;
            padding-top: 150px;
            height: 100%;
            left: 0;
            top: 0;
            flex-direction: column;
            background-color: #e5e5e5;
            transform: translateX(-100%);
            transition: ease-in 0.2s transform;
            top: 64px;

            &--open {
                transform: translateX(0);
            }
        }
    }

    &__dropdown {
        position: absolute;
        min-width: 150px;
        box-shadow: 0 0 3px 0 rgba($black, 0.2);
        background-color: $white;
        padding: 4px 0;
        display: none;
        @include mq-max($lg) {
            position: relative;
            box-shadow: none;
            background-color: transparent;
        }

        &--open {
            display: block;
        }

        ul {
          @include mq-max($lg) {
              display: inline-block;
          }
            li {
                a {
                    padding: 5px 10px;
                    width: 100%;
                    color: $text-color;
                    transition: 0.2s ease-in background-color;
                    border-radius: 3px;

                    @include mq-max($lg) {
                        display: inline-block;
                        font-size: 18px;
                    }

                    &:hover {
                        background-color: rgba($black, 0.1);
                    }
                }
            }
        }
    }

    &__listitem {
        display: inline-block;
        margin-left: 30px;
        @include mq-max($lg) {
            margin-left: 0;
            text-align: center;
        }
    }

    &__item {
        font-size: 15px;
        color: $text-color;
        min-width: 88px;
        min-height: 36px;
        line-height: 36px;
        text-align: center;
        padding: 0 16px;
        transition: 0.2s ease-in background-color;
        border-radius: 3px;
        @include mq-max($lg) {
            font-size: 18px;
            margin: 10px 0;
        }

        &:hover {
            background-color: rgba($black, .1);
            color: inherit;
        }

        &--dropdown {
            cursor: pointer;

            &:after {
                @include fa-icon;
                content: $fa-var-angle-down;
                margin-left: 10px;
            }
        }
    }

    &__btn {
        min-width: 88px;
        min-height: 36px;
        padding: 0 16px;
        border-radius: 3px;
        background-color: $orange;
        color: $white;
        line-height: 36px;
        margin-left: 30px;
        transition: background-color 0.2s ease-in;
        box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
        @include mq-max($lg) {
            display: none;
        }

        &:hover {
            color: $white;
            background-color: darken($orange, 4);
        }
    }

    &__facebook {
        width: 36px;
        height: 36px;
        background-color: #1649A6;
        border-radius: 3px;
        margin-left: 15px;
        color: $white;
        text-align: center;
        align-items: center;
        box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
        @include mq-max($lg) {
            display: none;
        }

        i {
            margin-top: 9px;
        }

        &:hover {
            color: $white;
        }
    }
}

.shown {
  display: inline-block;
  margin: 0;
  @include mq-min($lg) {
    display: none;
  };
}
