@mixin button {
    display: inline-block;
    background-color: $orange;
    padding: 7px 20px;
    color: $white;
    box-shadow: 2px 2px 10px 1px rgba($black, .12);
    @include borderradius(3px);
    transition: box-shadow 0.2s ease;

    &:hover {
        text-decoration: none;
        color: $white;
        box-shadow: 2px 2px 10px 2px rgba($black, .16);
    }
}
@mixin borderradius($radius) {
    border-radius: $radius;
}
@mixin boxshadow {
    box-shadow: 0 4px 3px 3px rgba($black, .1);
}

@mixin mq-min($bp){
  @media(min-width: $bp) {
    @content;
  }
}

@mixin mq-max($bp){
  @media(max-width: $bp) {
    @content;
  }
}

@mixin mq($bp-min, $bp-max){
  @media(min-width: $bp-min) and (max-width: $bp-max) {
    @content;
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
};
